---
---

$tab-count: {{ site.tabs | size | plus: 1 }};
@import "{{ site.theme }}";

@supports (font-variation-settings: normal) {
  code {
    font-family: 'Fira Code VF', monospace;
    pre {
      font-family: 'Fira Code VF', monospace;
    }
  }
}

html[mode="dark"] .highlight .nn { color: #A6E22E!important; } /* Name.Namespace */
html:not([mode])  .highlight .nn, html[mode="light"] .highlight .nn {
  color: #81af24!important;
} /* Name.Namespace */

@media (min-width:1150px) {
  #page {
    // Fix for ignoring panel.
    padding-right: calc((100% - 1100px))!important;
    // padding-left: calc((100% - 1150px) / 2)!important;
  }
}

html:not([mode]) #sidebar, html[mode="light"] #sidebar {
  background: radial-gradient(
    circle,
    rgba(90, 105, 137, 1) 0%,
    rgba(35, 37, 46, 1) 100%
  );
}

.modal-content {
  background-color: var(--body-bg);
}

html[mode="dark"] {
  .modal-dialog {
    border: 1px solid var(--search-icon-color);
  }
  .bootbox-close-button {
    color: #fff;
  }
  .modal-footer {
    border-top-color: var(--search-tag-bg);
  }
}

.task_pill {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  overflow: clip;
}

.pill_object {
  flex-grow: 1;
  width: 0px;
  text-align: center;
}

.pillbox_number {
  background: var(--search-icon-color);
  border-width: 0px;
  display: inline-block;
  width: 28px;
  border-radius: 100px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: var(--body-bg);
  font-size: 24px;
}

.pill_completed {
  background: var(--success);
}

.pill_in_progress {
  background: var(--orange);
}

.content-hidden {
  display: none;
}

.see-more-container {
  text-align: center;
  padding-bottom: 10px;
}

.see-more-button {
  display: inline-block;
  border-radius: 15px;
  border-width: 1px;
  background: transparent;
  color: var(--text-color);
}

.completion-button {
  background: #1ab21ab0;
  border-radius: 15px;
  border-width: 0;
  font-size: larger;
  color: var(--body-bg);
  line-height: 40px;
  position: relative;
  width: 140px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  float: right;
}

.completion-button::after {
  font-family: "Material Icons";
  font-size: 2rem;
  content: "\E876";
  position: absolute;
  top: 1px;
  right: 10px;
}

.hint-button {
  display: block;
  background: #ffc107b0;
  border-radius: 15px;
  border-width: 0;
  width: 100px;
  position: relative;
  font-size: larger;
  color: var(--body-bg);
  text-align: right;
  margin-bottom: 5px;
}

.coin_icon::before {
  font-family: "Material Icons";
  font-size: 2rem;
  content: "\ef4a";
  position: absolute;
  bottom: -11px;
  left: 2px;
  color: #ffc10770;
}

.coin_icon {
  float: left;
  color: var(--body-bg);
}

details.warning-block {
  border-left-color: #e85d04;
}

details.warning-block>summary {
  background: #e85d0440;
  border-bottom: 0.1rem solid #e85d0440;
}

details.warning-block>summary::before {
  color: #e85d04;
  content: "\E002";
}

details.note-block {
  border-left-color: #fff176;
}

details.note-block>summary {
  background: #fff17640;
  border-bottom: 0.1rem solid #fff17640;
}

details.note-block>summary::before {
  color: #cabf45;
  content: "\e869";
}

details.puzzle-block {
  border-left-color: #d84315;
}

details.puzzle-block>summary {
  background: #d8431540;
  border-bottom: 0.1rem solid #d8431540;
}

details.puzzle-block>summary::before {
  color: #9f0000;
  content: "\f1c0";
}

details.project-block {
  border-left-color: #5e35b1;
}

details.project-block>summary {
  background: #5e35b140;
  border-bottom: 0.1rem solid #5e35b140;
}

details.project-block>summary::before {
  color: #280680;
  content: "\ef75";
}

/* Notes details/summary styling. From https://facelessuser.github.io/pymdown-extensions/extensions/details/ */

details.block {
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0 1.2rem;
  border-left-width: 0.4rem;
  border-left-style: solid;
  border-radius: 0.2rem;
  overflow: hidden;
  margin-bottom: 30px;
}

details.block>summary {
  padding: 0.8rem 1.2rem 0.8rem 4rem;
  margin: 0 -1.2rem;
  display: block;
  outline: none;
  cursor: pointer;
}

details.block>summary::before {
  position: absolute;
  font-family: "Material Icons";
  left: 1.2rem;
  top: 0;
  font-size: 2rem;
}

details.block>summary::after {
  position: absolute;
  font-family: "Material Icons";
  right: 1.2rem;
  top: 0;
  font-size: 2rem;
  color: #0000008e;
  content: "\E313";
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

details.block[open]>summary::after {
  transform: rotate(180deg);
}

details.block:not([open])>summary {
  border-bottom: none;
}

details.block[open]>summary {
  display: block;
  cursor: pointer;
  margin-bottom: 15px;
}

details.block summary:focus {
  outline: none;
}

details.block summary::-webkit-details-marker {
  display: none;
}

details.block p {
  display: inline-block;
}

details.block p:empty {
  display: none;
}

@media (min-width:1150px) {
  .code_container {
    display: flex;
    align-items: stretch;
    div.highlighter-rouge {
      flex-grow: 1;
      flex-shrink: 1;
      overflow: auto;
      position: relative;

      div.highlight {
        height: 100%;
      }
    }

    div.language-text {
      td.rouge-gutter {
        display: none;
      }
    }
  }
}
